.intro-content{
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
.topSkills-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.grid-one{
    display: flex;
    justify-content: center;
}
.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.grid-one-content p{
    margin-bottom: 1rem;
}
.grid-one-content p + p{
    margin-bottom: 8rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -5rem;
    left: -1.5rem;
    transform: rotate(5deg);
}
.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}
.contact-form{
    grid-column: span 2;

}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend{
    font-style: italic;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.form-group{
    flex: 1 1 320px;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input, 
.form-group textarea  {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus, 
.form-group textarea:focus  {
    box-shadow: 0 0 25px 2px crimson;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    border: 0.5rem solid var(--white-color);
    background: var(--white-color);
    color: var(--primary-color);
}
.form-group ::placeholder{
    color: var(--light-gray-color);
}
.footer{
    text-align: center;
    font-size: 1.6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    color: #4682B4;
}