.intro-content{
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: var(--gap);
    height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
.topSkills-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
